.main {
    width: 100%;
    min-width: 335px;
    .container {
        max-width: 1410px;
        width: 100%;
    }
    .services {
        @include flexCenter();
        padding: 50px 15px;
    }
    .services-top {
        @include flexCenter();
        flex-direction: column;
        padding-bottom: 10px;
        h1 {
            font-size: $font-28;
            font-weight: $font700;
            color: $font-color-primary;
            line-height: 38.5px;
            span {
                color: $color-primary;
            }
        }
        p {
            padding-top: 15px;
            font-size: $font-14;
            color: $font-color-second;
            line-height: 22px;
            text-align: center;
        }
    }
    .services-main {
        @include flexCenter();
        flex-wrap: wrap;
        // min-width: 320px;
        .service-content {
            @include flexCenter;
            min-width: 345px;
            max-width: 370px;
            height: 116px;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
            border-radius: 10px;
            background-image: url(images/service-content-BG.svg);
            background-repeat: no-repeat;
            background-position: 0 12px;
        }
        .service-content-text {
            margin-left: 20px;
        }
        h2 {
            color: $font-color-primary;
            padding-bottom: 10px;
            font-size: $font-16;
            font-weight: $font700;
            line-height: 22px;
        }
        p {
            color: $font-color-second;
            font-size: $font-14;
            line-height: 22px;
        }
    }
    .about-us {
        @include flexCenter();
    }
    .about-us-inner {
        @include flexCenter();
        flex-wrap: wrap;
        padding: 0 15px 50px 15px;
        min-width: 340px;
    }
    .about-us-img {
        min-width: 320px;
        height: 462px;
        position: relative;
        margin-right: 40px;
        .about-us-img-big-large{
            display: none;
        }
        .about-us-img-small-large{
            display: none;
        }
        div {
            width: 188px;
            height: 293px;
            background-color: $color-primary;
        }
        a {
            position: absolute;
            &:nth-child(2) {
                top: 12px;
                left: 12px;
                z-index: 1;
            }
            &:nth-child(3) {
                top: 300px;
                left: 113px;
                z-index: 1;
                border-radius: 5px;
            }
        }
    }
    .about-us-content {
        padding-top: 30px;
        @include flexCenter();
        flex-direction: column;
        max-width: 378px;
        h2 {
            text-align: center;
            padding-bottom: 15px;
            font-size: $font-28;
            font-weight: $font700;
            color: $font-color-primary;
            line-height: 38px;
            span {
                color: $color-primary;
            }
        }
        p {
            line-height: 22px;
            font-size: $font-14;
            color: $font-color-second;
        }
        .about-us-cards {
            @include flexSpaceCenter();
            flex-wrap: wrap;
            padding-top: 40px;
            min-width: 330px;
            max-width: 344px;
        }
        .about-us-card {
            @include flexCenter();
            flex-wrap: wrap;
            width: 162px;
            height: 94px;
            box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
            border-radius: 5px;
            font-weight: $font700;
            font-size: $font-14;
            line-height: 19px;
            color: $font-color-primary;
            padding: 15px;
            margin-bottom: 20px;
            span {
                display: block;
                width: 55px;
                height: 45px;
            }
        }
        .card1 {
            span {
                background-image: url(images/about-us-card1.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .card2 {
            span {
                width: 64px;
                background-image: url(images/about-us-card2.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .card3 {
            span {
                background-image: url(images/about-us-card3.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .card4 {
            span {
                background-image: url(images/about-us-card4.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        button {
            margin-top: 10px;
            padding: 10px 30px;
            border: 1px solid $color-primary;
            border-radius: 5px;
            background-color: white;
            font-family: "Nunito", sans-serif;
            font-size: $font-16;
            color: $color-primary;
            font-weight: $font700;
            line-height: 20px;
            &:hover {
                background-color: $color-primary;
                color: white;
            }
        }
    }
    .why-choose-us {
        @include flexCenter();
        background-color: $color-second;
        padding: 50px 15px;
        min-width: 345px;
        color: white;
    }
    .why-choose-us-inner {
        @include flexCenter();
        flex-wrap: wrap;
        .why-choose-us-img-large{
            display: none
        }
    }
    .why-choose-us-content {
        @include flexCenter();
        flex-wrap: wrap;
        padding-top: 30px;
        max-width: 512px;
        h2 {
            padding-bottom: 15px;
            font-size: $font-28;
            line-height: 38px;
            font-weight: $font700;
        }
        p {
            text-align: center;
            font-size: $font-14;
            line-height: 22px;
            padding-bottom: 40px;
        }
        .take-care {
            @include flexAlignCenter();
            font-weight: $font700;
            line-height: 22px;
            padding-bottom: 20px;
            span {
                display: block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                background-image: url(images/take-care-bg.svg);
                background-repeat: no-repeat;
                background-position: center;
                border: 1px solid white;
                border-radius: 50%;
                background-color: white;
            }
            .take-care-inner {
                display: flex;
                width: 163px;
                &:first-child {
                    margin-right: 29px;
                }
            }
        }
        button {
            margin-top: 10px;
            padding: 10px 30px;
            border: 1px solid $color-primary;
            border-radius: 5px;
            background-color: white;
            font-family: "Nunito", sans-serif;
            font-size: $font-16;
            color: $color-primary;
            font-weight: $font700;
            line-height: 20px;
            &:hover {
                background-color: $color-primary;
                color: white;
            }
        }
    }
    .working-process {
        padding: 50px 15px;
        @include flexCenter();
    }
    .working-process-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .working-process-text {
        text-align: center;
        padding-bottom: 30px;
        h2 {
            padding-bottom: 15px;
            font-size: $font-28;
            font-weight: $font700;
            line-height: 38px;
            span {
                color: $color-primary;
            }
        }
        p {
            font-size: $font-14;
            color: $font-color-second;
            line-height: 22px;
        }
    }
    .working-process-cards {
        @include flexCenter();
        flex-wrap: wrap;
        padding-bottom: 35px;
        > div {
            max-width: 384px;
            padding: 20px;
            box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
            border-radius: 10px;
            margin: 20px 0;
            background-image: url(images/working-process-cards-bg.svg);
            background-repeat: no-repeat;
            background-position: 237px;
        }
        h3 {
            font-weight: $font700;
            line-height: 22px;
            color: $font-color-primary;
            padding-bottom: 10px;
        }
        p {
            font-size: $font-14;
            color: $font-color-second;
            line-height: 22px;
        }
    }
    .logo-counter {
        @include flexSpaceCenter();
        padding-bottom: 20px;
    }
    .bg {
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: center;
    }
    .counter {
        padding-right: 10px;
        font-size: $font-45;
        font-weight: $font800;
        line-height: 61px;
        color: #e3e3e3;
    }
    .card1 {
        .bg {
            background-image: url(images/Consultation.svg);
        }
    }
    .card2 {
        .bg {
            background-image: url(images/Design\ &\ Work.svg);
        }
    }
    .card3 {
        .bg {
            background-image: url(images/Maintenance.svg);
        }
    }
    .card4 {
        .bg {
            background-image: url(images/Complete.svg);
        }
    }
    .working-process-cta {
        @include flexCenter();
        flex-direction: column;
        min-width: 345px;
        max-width: 345px;
        height: 224px;
        background-image: url(images/working-process-cta-img.png);
        background-repeat: no-repeat;
        background-position: center;
        .content {
            text-align: center;
            padding: 0 30px;
            h2 {
                padding-bottom: 30px;
                font-size: $font-20;
                font-weight: $font700;
                line-height: 27px;
                color: white;
            }
            button {
                width: 137px;
                height: 40px;
                border: none;
                box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
                border-radius: 5px;
                background-image: url(images/cta-button.svg);
                background-repeat: no-repeat;
                background-position: center;
                &:hover {
                    background-image: url(images/cta-button-active.svg);
                    background-color: $color-primary;
                }
            }
        }
    }
    .team {
        @include flexCenter();
        padding: 0 15px 50px 15px;
        
    }
    .team-inner {
        text-align: center;
    }
    .team-content {
        h2 {
            font-size: $font-28;
            font-weight: $font700;
            line-height: 38px;
            span {
                color: $color-primary;
            }
            padding-bottom: 15px;
        }
        p {
            font-size: $font-14;
            line-height: 22px;
            color: $font-color-second;
            padding-bottom: 30px;
        }
        button {
            padding: 10px 30px;
            border: 1px solid $color-primary;
            border-radius: 5px;
            background-color: white;
            font-family: "Nunito", sans-serif;
            font-size: $font-16;
            color: $color-primary;
            font-weight: $font700;
            line-height: 20px;
            &:hover {
                background-color: $color-primary;
                color: white;
            }
        }
    }
    .team-cards {
        @include flexCenter();
        align-items: flex-end;
        padding-top: 40px;
        color: white;
        .cards {
            @include flexColumnCenter();
            justify-content: flex-end;
            width: 345px;
            height: 343px;
            border-radius: 5px;
            .text {
                width: 100%;
                padding: 7px 0;
                background: linear-gradient(
                    6.68deg,
                    #00730c 4.95%,
                    rgba(251, 246, 238, 0) 264.79%
                );
                border-radius: 5px;
            }
            h2{
                font-size: $font-18;
                font-weight: $font700;
                line-height: 25px;
            }
            p{
                font-size: $font-14;
                line-height: 22px;
            }
            .social-media{
                display: none
            }
        }
        .card1{
            display: none;
        }
        .card2{
            background-image: url(images/team-card1.png);
        }
        .card3{
            display: none;
        }
        .card4{
            display: none;
        }
    }
    .slider{
        @include flexCenter();
        padding-top: 30px;
        div{
            width: 20px;
            height: 6px;
            margin: 0 6px;
            border-radius: 8px;
            background-color: $color-primary;
            &:nth-child(3){
                width: 50px;
            }
        }
    }
    .clients-saying {
        width: 100%;
        @include flexCenter();
        padding: 50px 15px;
        background-image: url(images/clients-saying-bg.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 585px;
        
    }
    .clients-saying-inner {
        text-align: center;
    }
    .clients-content {

        padding-bottom: 40px;
        h2 {
            font-size: $font-28;
            font-weight: $font700;
            line-height: 38px;
            span {
                color: $color-primary;
            }
            padding-bottom: 15px;
        }
        p {
            font-size: $font-14;
            line-height: 22px;
            color: $font-color-second;
        }
        button {
            display: none;
            &:hover {
                background-color: $color-primary;
                color: white;
            }
        }
    }
    .clients-cards {
        @include flexCenter();
        padding-top: 40px;
        .cards {
            text-align: start;
            width: 345px;
            padding: 20px;
            background: #FFFFFF;
            box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
            .client-card-img-large{
                display: none;
            }
            img{
                width: 135px;
                height: 183px;
            }
            .text {
                padding-top: 44px;
                background-image: url(images/clients-saying-text-bg.svg);
                background-repeat: no-repeat;
                background-position: 0 31px;
            }
            h2{
                font-size: $font-16;
                font-weight: $font700;
                line-height: 22px;
                padding-bottom: 2px;
                color: $font-color-primary;
            }
            p{
                font-size: $font-14;
                line-height: 22px;
                padding-bottom: 15px;
                color: $font-color-second;
            }
            .name{
                @include flexSpaceCenter();
                p{
                    font-size: $font-12;
                    line-height: 16px;
                    padding-bottom: 0;
                }
                
                .star{
                    @include flexCenter();
                    div{
                        margin: 0 5px;
                        width: 20px;
                        height: 20px;
                        background-image: url(images/star.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            
            
        }
        .card2{
            display: none;
        }
        
    }
    .faq{
        @include flexCenter();
    }
    .faq-inner{
        padding: 0 15px;
        .faq-img{
            display: none;
        }
    }
    .faq-content {
        .content{
            text-align: center;
            padding-bottom: 30px;
            h2 {
                font-size: $font-28;
                font-weight: $font700;
                line-height: 38px;
                span {
                    color: $color-primary;
                }
                padding-bottom: 15px;
            }
            p {
                font-size: $font-14;
                line-height: 22px;
                color: $font-color-second;
            }
        }
        
    }
    .faq-questions{
        @include flexCenter();
        flex-direction: column;
        font-size: $font-14;
        .faq-questions-inner{
            @include flexColumnCenter;
            margin: 10px 0;
            &:hover{
                .question{
                    position: relative;
                    background-color: $color-primary;
                    color: white;
                    cursor: pointer;
                    span{
                        background-image: url(images/Minus.svg);
                    }
                }
                .answer{
                    display: block;
                }
            }
        }
        .question{
            @include flexSpaceCenter();
            min-width: 345px;
            height: 44px;
            padding: 0 20px;
            background-color: #FFF8F1;
            border-radius: 5px;
            font-weight: $font600;
            line-height: 19px;
            color: $font-color-primary;
            span{
                display: block;
                width: 20px;
                height: 20px;
                background-image: url(images/Plus.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .answer{
            display: none;
            width: 313px;
            line-height: 22px;
            color: $font-color-second;
            padding-top: 20px;
        }
        
    }
    .blog{
        @include flexCenter();
    }
    .blog-inner{
        padding: 50px 15px;
    }
    .blog-content{
        text-align: center;
        padding-bottom: 40px;
        h2 {
            font-size: $font-28;
            font-weight: $font700;
            line-height: 38px;
            color: $font-color-primary;
            span {
                color: $color-primary;
            }
            padding-bottom: 20px;
        }
        p {
            font-size: $font-14;
            line-height: 22px;
            color: $font-color-second;
        }
    }
    .blog-cards{
        @include flexCenter();
        .card{
            width: 345px;
            height: 408px;
            padding: 30px 20px 35px;
            background: #FFFFFF;
            background-image: url(images/Blog-cards-bg.png);
            background-repeat: no-repeat;
            background-position: 225px 0;
            border-radius: 5px;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);

            &:first-child{
                display: none;
            }
            &:last-child{
                display: none;
            }
            .tag{
                width: max-content;
                color: $color-primary;
                font-size: $font-18;
                font-weight: $font600;
                line-height: 30px;
                padding: 0 25px;
                background: #D9F1E0;
                box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
            }
            h2{
                padding-top: 40px;
                color: $color-primary;
                font-size: $font-16;
                font-weight: $font700;
                line-height: 22px;
            }
            p{
                padding-top: 15px;
                padding-bottom: 52px;
                color: $font-color-second;
                font-size: $font-14;
                line-height: 22px;
            }
            .profile{
                @include flexSpaceCenter();
                padding-top: 10px;
                border-top: 1px solid #E3E3E3;
                font-size: $font-14;
                color: $font-color-second;
                .date{
                    font-weight: $font700;
                    line-height: 19px;
                }
                .admin{
                    @include flexSpaceCenter();
                    line-height: 22px;
                    span{
                        display: block;
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                        background-image: url(images/Admin.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        
                    }
                }
            }
        }
    }
    .blog-slider{
        display: none;
    }

}

// MEDIA 768

@media (min-width: 768px) {
    .main {
        .services-main {
            .service-content {
                max-width: 345px;
                margin: 10px;
            }
        }
        .why-choose-us-inner {
            a {
                margin-right: 10px;
            }
        }
        .why-choose-us-content {
            max-width: 375px;
        }
        .working-process-cards {
            max-width: 1090px;
            > div {
                max-width: 345px;
                margin: 10px;
            }
        }
        .team{
            .container{
                @include flexCenter()
            }
        }
        .team-inner {
            @include flexSpaceCenter();
            width: 768px;
        }
        .team-content {
            width: 345px;
        }
        .slider{
            display: none;
        }
        .clients-saying-inner{
            @include flexCenter();
        }
        .clients-content{
            width: 435px;
            padding-right: 90px;

        }
        .faq-inner{
            padding: 20px 15px 0 15px;
        }
        .faq-questions{
            .question{
                width: 500px;
            }
            .answer{
                width: 100%;
            }
        }

    }
    .blog-inner{
        padding: 50px 15px;
        .blog-cards{
            .card{
                &:first-child{
                    display: block;
                    margin-right: 40px;
                    p{
                        padding-bottom: 118px;
                    }
                }
            }
        }
    }
    
}

// MEDIA 1500

@media (min-width: 1500px) {
    .main {
        .services {
            padding: 100px 0;
        }
        .services-top {
            padding-bottom: 50px;
            h1 {
                font-size: $font-45;
                font-weight: $font800;
                line-height: 61.38px;
            }
            p {
                padding: 30px 137px 0;
                font-size: $font-18;
                line-height: 30px;
            }
        }
        .services-main {
            .service-content {
                flex-direction: column;
                width: 330px;
                min-width: 330px;
                max-width: 330px;
                height: 366px;
                margin: 0 15px 0;
                text-align: center;
                background-image: url(images/service-content-BG-large.svg);
                background-position: 75px 8px;
                &:first-child {
                    margin-bottom: 30px;
                    margin-left: 0;
                }
                &:nth-child(2) {
                    margin-bottom: 30px;
                }
                &:nth-child(3) {
                    margin-bottom: 30px;
                }
                &:nth-child(4) {
                    margin-bottom: 30px;
                    margin-right: 0;
                }
                &:nth-child(5) {
                    margin-left: 0;
                }
                &:nth-child(8) {
                    margin-right: 0;
                }
                a {
                    display: block;
                    width: 70px;
                    height: 70px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 50px;
                    img {
                        display: none;
                    }
                }
                .cl1 {
                    background-image: url(images/service-content-1-largeD.svg);
                }
                .cl2 {
                    background-image: url(images/service-content-2-largeD.svg);
                }
                .cl3 {
                    background-image: url(images/service-content-3-largeD.svg);
                }
                .cl4 {
                    background-image: url(images/service-content-4-largeD.svg);
                }
                .cl5 {
                    background-image: url(images/service-content-5-largeD.svg);
                }
                .cl6 {
                    background-image: url(images/service-content-6-largeD.svg);
                }
                .cl7 {
                    background-image: url(images/service-content-7-largeD.svg);
                }
                .cl8 {
                    background-image: url(images/service-content-8-largeD.svg);
                }
                &:hover {
                    background-color: $color-primary;
                    .cl1 {
                        background-image: url(images/service-content-1-large.svg);
                    }
                    .cl2 {
                        background-image: url(images/service-content-2-large.svg);
                    }
                    .cl3 {
                        background-image: url(images/service-content-3-large.svg);
                    }
                    .cl4 {
                        background-image: url(images/service-content-4-large.svg);
                    }
                    .cl5 {
                        background-image: url(images/service-content-5-large.svg);
                    }
                    .cl6 {
                        background-image: url(images/service-content-6-large.svg);
                    }
                    .cl7 {
                        background-image: url(images/service-content-7-large.svg);
                    }
                    .cl8 {
                        background-image: url(images/service-content-8-large.svg);
                    }
                    h2 {
                        color: white;
                    }
                    p {
                        color: white;
                    }
                }
            }
            .service-content-text {
                margin: 0;
            }
            h2 {
                font-size: $font-24;
                font-weight: $font700;
                line-height: 33px;
            }
            p {
                font-size: $font-16;
                line-height: 28px;
                padding: 10px 23px;
            }
        }
        .about-us {
            height: 1050px;
            padding-bottom: 100px;
        }
        .about-us-inner {
            justify-content: space-between;
            padding: 0;
        }
        .about-us-img {
            .about-us-img-big{
                display: none;
            }
            .about-us-img-small{
                display: none;
            }
            .about-us-img-big-large{
                display: block;
            }
            .about-us-img-small-large{
                display: block;
            }
            height: 903px;
            div {
                width: 450px;
                height: 706px;
            }
            a {
                &:nth-child(2) {
                    top: 36px;
                    left: 24px;
                    img {
                        width: 601px;
                        height: 731px;
                    }
                }
                &:nth-child(3) {
                    top: 600px;
                    left: 226px;
                    z-index: 1;
                    border-radius: 5px;
                    img {
                        width: 456px;
                        height: 356px;
                    }
                }
            }
        }
        .about-us-content {
            max-width: 690px;
            padding-top: 0;
            h2 {
                text-align: start;
                padding-bottom: 30px;
                font-size: $font-45;
                font-weight: $font800;
                color: $font-color-primary;
                line-height: 61px;
                span {
                    color: $color-primary;
                }
            }
            p {
                line-height: 28px;
                font-size: $font-16;
                padding-right: 19px;
            }
            .about-us-cards {
                padding-top: 50px;
                min-width: auto;
                max-width: max-content;
            }
            .about-us-card {
                justify-content: start;
                width: 330px;
                height: 97px;
                box-shadow: none;
                border-radius: 5px;
                font-weight: $font700;
                font-size: $font-24;
                line-height: 33px;
                padding-left: 30px;
                margin-bottom: 30px;
                span {
                    width: 67px;
                    height: 67px;
                    margin-right: 30px;
                }
            }
            .card1 {
                span {
                    background-image: url(images/about-us-card1-large.svg);
                }
            }
            .card2 {
                span {
                    background-image: url(images/about-us-card2-large.svg);
                }
            }
            .card3 {
                span {
                    background-image: url(images/about-us-card3-large.svg);
                }
            }
            .card4 {
                span {
                    background-image: url(images/about-us-card4-large.svg);
                }
            }
            button {
                align-self: flex-start;
                margin-top: 20px;
                padding: 13px 35px;
                font-size: $font-18;
                line-height: 24px;
            }
        }
        .why-choose-us {
            padding: 100px 0;
            background-image: url(images/Why-choose-us-BG.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        .why-choose-us-inner {
            flex-direction: row-reverse;
            a {
                margin: 0 0 0 82px;
                align-self: flex-end;
            }
            img {
                width: 672px;
                height: 426px;
            }
            .why-choose-us-img{
                display: none;
            }
            .why-choose-us-img-large{
                display: block;
            }
        }
        .why-choose-us-content {
            max-width: 656px;
            justify-content: start;
            h2 {
                font-size: $font-45;
                line-height: 61px;
                padding-bottom: 30px;
            }
            p {
                text-align: start;
                font-size: $font-18;
                line-height: 30px;
                padding-bottom: 50px;
            }
            .take-care {
                font-size: $font-24;
                span {
                    width: 30px;
                    height: 30px;
                    background-image: url(images/take-care-bg-large.svg);
                }
                .take-care-inner {
                    width: 242px;
                    align-items: center;
                    &:first-child {
                        margin-right: 118px;
                    }
                }
            }
            button {
                margin-top: 30px;
                padding: 13px 35px;
                font-size: $font-18;
                line-height: 24px;
            }
        }
        .working-process {
            padding: 100px 0;
        }
        .working-process-text {
            padding-bottom: 50px;
            h2 {
                padding-bottom: 20px;
                font-size: $font-45;
                font-weight: $font800;
                line-height: 61px;
            }
            p {
                font-size: $font-18;
                line-height: 30px;
                padding: 0 137px;
            }
        }
        .working-process-cards {
            padding-bottom: 85px;
            max-width: 100%;
            > div {
                max-width: 330px;
                padding: 50px 30px 70px 30px;
                margin: 15px;
                background-image: url(images/working-process-cards-bg-large.svg);
                background-position: 190px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    h3,
                    p,
                    .counter {
                        color: white;
                    }
                    background-color: $color-primary;
                    background-image: url(images/working-process-cards-bg-large-white.svg);
                }
            }
            h3 {
                font-size: $font-24;
                line-height: 33px;
                padding-bottom: 20px;
            }
            p {
                font-size: $font-18;
                line-height: 30px;
            }
        }
        .logo-counter {
            padding-bottom: 40px;
        }
        .bg {
            width: 70px;
            height: 70px;
            background-repeat: no-repeat;
            background-size: center;
            background-size: cover;
        }
        .counter {
            padding-right: 0;
            font-size: $font-78;
            line-height: 106px;
        }
        .card1 {
            &:hover {
                .bg {
                    background-image: url(images/Consultation-large-white.svg);
                }
            }
        }
        .card2 {
            &:hover {
                .bg {
                    background-image: url(images/Design-Work-large-white.svg);
                }
            }
        }
        .card3 {
            &:hover {
                .bg {
                    background-image: url(images/Maintenance-large-white.svg);
                }
            }
        }
        .card4 {
            &:hover {
                .bg {
                    background-image: url(images/Complete-large-white.svg);
                }
            }
        }
        .working-process-cta {
            flex-direction: row;
            justify-content: end;
            min-width: 1410px;
            max-width: 1410px;
            height: 247px;
            background-image: url(images/working-process-cta-img-large.png);
            .content {
                @include flexSpaceCenter();
                width: 763px;
                padding-right: 60px;
                padding-left: 0;
                h2 {
                    text-align: start;
                    width: 468px;
                    font-size: $font-33;
                    line-height: 45px;
                    padding-bottom: 0;
                }
                button {
                    width: 170px;
                    height: 50px;
                    background-image: url(images/CallButton-large.svg);
                    &:hover {
                        background-image: url(images/CallButton-large2.svg);
                    }
                }
            }
        }
        .team{
            padding: 0 0 100px 0;
            .container{
                display: block
            }
        }
        .team-inner {
            display: block;
            width: 100%;
        }
        .team-content {
            @include flexSpaceCenter();
            width: 100%;
            text-align: start;
            padding-bottom: 50px;
            .content{
                width: 956px;
            }
            h2 {
                font-size: $font-45;
                font-weight: $font800;
                line-height: 61px;
                padding-bottom: 30px;
            }
            p {
                font-size: $font-18;
                line-height: 30px;
                padding-bottom: 0;
            }
            button {
                align-self: flex-end;
                padding: 13px 35px;
                font-size: $font-18;
                line-height: 24px;
            }
        }
        .team-cards {
            @include flexSpaceCenter();
            padding-top: 0;
            .card1{
                background-image: url(images/team-card1-large.png);
            }
            .card2{
                background-image: url(images/team-card2-large.png);
            }
            .card3{
                background-image: url(images/team-card3-large.png);
            }
            .card4{
                background-image: url(images/team-card4-large.png);
            }
            .cards {
                @include flexColumnCenter();
                justify-content: flex-end;
                width: 330px;
                height: 408px;
                border-radius: 10px;
                .text {
                    border-radius: 10px;
                }
                h2{
                    font-size: $font-24;
                    line-height: 33px;
                }
                p{
                    font-size: $font-18;
                    line-height: 30px;
                    
                }
                &:hover{
                    @include flexColumnCenter();
                    justify-content: center;
                    .text{
                        @include flexColumnCenter();
                        justify-content: center;
                        height: 100%;
                    }
                    .social-media{
                        @include flexSpaceCenter();
                        width: 250px;
                        padding-top: 20px;
                        margin: 0 auto;
                        a{
                            display: block;
                            width: 30px;
                            height: 30px;
                            background-repeat: no-repeat;
                            background-position: center;
                            &:first-child{
                                background-image: url(images/Google.svg);
                            }
                            &:nth-child(2){
                                background-image: url(images/facebook.svg);
                            }
                            &:nth-child(3){
                                background-image: url(images/twitter.svg);
                            }
                            &:nth-child(4){
                                background-image: url(images/pinterest.svg);
                            }
                            &:last-child{
                                background-image: url(images/linkedin.svg);
                            }
                        }
                    }
                }
            }
            
        }
        .clients-saying {
            padding: 100px 0;
            background-image: url(images/clients-saying-bg-large.png);
        }
        .clients-saying-inner {
            text-align: start;
            display: block;
        }
        .clients-content {
            @include flexSpaceCenter();
            width: 100%;
            padding-right: 0;
            padding-bottom: 50px;
            .content{
                width: 956px;
            }
            h2 {
                font-size: $font-45;
                font-weight: $font800;
                line-height: 61px;
                padding-bottom: 30px;
            }
            p {
                font-size: $font-18;
                line-height: 30px;
            }
            .arrow{
                @include flexSpaceCenter();
                width: 130px;
                align-self: flex-end;
                button {
                    display: block;
                    width: 50px;
                    height: 50px;
                    border: 1px solid $color-primary;
                    border-radius: 5px;
                    background-repeat: no-repeat;
                    background-position: center;
                    &:hover:first-child {
                        background-image: url(images/clients-saying-arrow-left2.svg);
                    }
                    &:hover:last-child {
                        background-image: url(images/clients-saying-arrow-right.svg);
                    }
                    &:first-child{
                        background-image: url(images/clients-saying-arrow-left.svg);
                    }
                    &:last-child{
                        background-image: url(images/clients-saying-arrow-right2.svg);
                    }
                }
                
            }
            
        }
        .clients-cards {
            @include flexSpaceCenter();
            padding-top: 0;
            .cards {
                @include flexSpaceCenter();
                width: 690px;
                padding: 32px 32px 32px 25px;
                .client-card-img{
                    display: none;
                }
                .client-card-img-large{
                    display: block;
                }
                img{
                    width: 193px;
                    height: 276px;
                }
                .text {
                    height: 264px;
                    padding-left: 30px;
                    padding-top: 25px;
                    background-image: url(images/clients-saying-text-bg-large.svg);
                    background-position: 30px 0;
                }
                h2{
                    font-size: $font-24;
                    line-height: 33px;
                    padding-bottom: 2px;
                }
                p{
                    font-size: $font-18;
                    line-height: 30px;
                    padding-bottom: 27px;
                }
                .name{
                    p{
                        font-size: $font-14;
                        line-height: 25px;
                    }
                    
                    .star{
                        div{
                            margin: 0 5px;
                            width: 25px;
                            height: 25px;
                            background-image: url(images/star-large.svg);
                        }
                    }
                }
            }
        }
        .faq-inner{
            @include flexSpaceCenter();
            padding: 0 0;
            .faq-img{
                display: block;
                align-self: flex-end;
            }
        }
        .faq-content {
            .content{
                width: 828px;
                text-align: start;
                padding-bottom: 25px;
                h2 {
                    font-size: $font-45;
                    font-weight: $font800;
                    line-height: 61px;
                    padding-bottom: 30px;
                }
                p {
                    font-size: $font-18;
                    line-height: 30px;
                }
            }
        }
        .faq-questions{
            align-items: flex-start;
            flex-direction: column;
            font-size: $font-16;
            line-height: 28px;
            .faq-questions-inner{
                @include flexColumnCenter;
                margin: 15px 0;
                &:nth-child(4){
                    margin-bottom: 0;
                }
                &:last-child{
                    display: none;
                }
                &:hover{
                    .question{
                        span{
                            background-image: url(images/minus-large.svg);
                        }
                    }
                }
            }
            .question{
                min-width: 810px;
                height: 59px;
                padding: 0 30px;
                font-size: $font-24;
                font-weight: $font700;
                line-height: 33px;
                span{
                    width: 28px;
                    height: 28px;
                    background-image: url(images/Plus-large.svg);
                }
            }
            .answer{
                width: 752px;
                line-height: 28px;
            }
            
        }
        .blog-content{
            width: 1136px;
            text-align: center;
            padding-bottom: 50px;
            h2 {
                font-size: $font-45;
                font-weight: $font800;
                line-height: 61px;
            }
            p {
                font-size: $font-18;
                line-height: 30px;
            }
        }
        .blog-inner{
            @include flexCenter();
            flex-direction: column;
            padding: 100px 0;
            .blog-cards{
                @include flexSpaceCenter();
                width: 100%;
                .card{
                    display: flex;
                    flex-direction: column;
                    width: 450px;
                    height: 549px;
                    padding: 100px 0 0;
                    background-repeat: no-repeat;
                    border-radius: 10px;
                    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
                    &:first-child{
                        background-image: url(images/Blog-cards-first-large.png);
                        background-position: center;
                        margin-right: 0;
                    }
                    &:nth-child(2){
                        background-image: url(images/Blog-cards-last-large.png);
                        background-position: center;
                        h2{
                            padding-top: 30px;
                        }
                        p{
                            padding-bottom: 25px;
                        }
                    }
                    &:last-child{
                        background-image: url(images/Blog-cards-last-large.png);
                        background-position: center;
                    }
                    .tag{
                        margin-left: 30px;
                        padding: 2.5px 19.5px;
                        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
                    }
                    h2{
                        padding: 75px 30px 0;
                        color: white;
                        font-size: $font-24;
                        line-height: 33px;
                    }
                    p{
                        padding: 30px 30px 70px;
                        color: white;
                        font-size: $font-18;
                        line-height: 30px;
                    }
                    .profile{
                        @include flexSpaceCenter();
                        height: 83px;
                        padding: 0 43px;
                        border-top: 1px solid white;
                        color: white;
                        font-size: $font-16;
                        .date{
                            font-weight: $font500;
                            line-height: 24px;
                            text-decoration: underline;
                        }
                        .admin{
                            font-size: $font-18;
                            line-height: 30px;
                            border-bottom: 1px solid white ;
                            span{
                                display: block;
                                width: 20px;
                                height: 20px;
                                background-image: url(images/Admin-white.svg);
                            }
                        }
                    }
                    &:hover{
                        background-image: url(images/Blog-cards-bg-large.png);
                        background-position: 229px 0;
                        h2{
                            color: $color-primary;
                        }
                        p{
                        color: $font-color-second;
                        }
                        .profile{
                            color: $font-color-second;
                            border-top: 1px solid #E3E3E3;
                        }
                        .admin{
                            span{
                                background-image: url(images/Admin.svg);
                            }
                        }

                    }
                }
            }
            .blog-slider{
                @include flexCenter();
                padding-top: 60px;
                div{
                    margin: 0 15px;
                    width: 50px;
                    height: 7px;
                    background-color: #FBEEE7;;
                    &:hover{
                        background-color: $color-primary;
                    }
                }
            }
        }
    }
}
