.main{
    width: 100%;
    min-width: 335px;
    .container{
        max-width: 1410px;
        width: 100%;
    }
    .services{
        @include flexCenter();
        padding: 50px 15px;
    }
    .services-top{
        @include flexCenter();
        flex-direction: column;
        padding-bottom: 10px;
        h1{
            font-size: $font-28;
            font-weight: $font700;
            color: $font-color-primary;
            line-height: 38.5px;
            span{
                color: $color-primary;
            }
        }
        p{
            padding-top: 15px;
            font-size: $font-14;
            color: $font-color-second;
            line-height: 22px;
            text-align: center;
        }
    }
    .services-main{
        @include flexCenter();
        flex-wrap: wrap;
        // min-width: 320px;
        .service-content{
            @include flexCenter;
            min-width: 345px;
            max-width: 370px;
            height: 116px;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
            border-radius: 10px;
            background-image: url(images/service-content-BG.svg);
            background-repeat: no-repeat;
            background-position: 0 12px;
        }
        .service-content-text{
            margin-left: 20px;
            
        }
        h2{
            color: $font-color-primary;
            padding-bottom: 10px;
            font-size: $font-16;
            font-weight: $font700;
            line-height: 22px;
        }
        p{
            color: $font-color-second;
            font-size: $font-14;
            line-height: 22px;
        }
    }
    .about-us{
        @include flexCenter();
    }
    .about-us-inner{
        @include flexCenter();
        flex-wrap: wrap;
        padding: 0 15px 50px 15px;
        min-width: 340px;
    }
    .about-us-img{
        min-width: 320px;
        height: 462px;
        position: relative;
        margin-right: 40px;

        
        div{
            width: 188px;
            height: 293px;
            background-color: $color-primary;
        }
        a{
            position: absolute;
            &:nth-child(2){
                top: 12px;
                left: 12px;
                z-index: 1;
            }
            &:nth-child(3){
                top: 300px;
                left: 113px;
                z-index: 1;
                border-radius: 5px;
            }
        }
    }
    .about-us-content{
        padding-top: 30px;
        @include flexCenter();
        flex-direction: column;
        max-width: 378px;
        h2{
            text-align: center;
            padding-bottom: 15px;
            font-size: $font-28;
            font-weight: $font700;
            color:$font-color-primary;
            line-height: 38px;
            span{
                color:$color-primary;
            }
        }
        p{
            line-height: 22px;
            font-size: $font-14;
            color: $font-color-second;
        }
        .about-us-cards{
            @include flexSpaceCenter();
            flex-wrap: wrap;
            padding-top: 40px;
            min-width: 330px;
            max-width: 344px
            
        }
        .about-us-card {
            @include flexCenter();
            flex-wrap: wrap;
            width: 162px;
            height: 94px;
            box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
            border-radius: 5px;
            font-weight: $font700;
            font-size: $font-14;
            line-height: 19px;
            color: $font-color-primary;
            padding: 15px;
            margin-bottom: 20px;
            span{
                display: block;
                width: 55px;
                height: 45px;
                
            }
            
        }
        .card1{
            span{
                background-image: url(images/about-us-card1.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .card2{
            span{
                width: 64px;
                background-image: url(images/about-us-card2.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .card3{
            span{
                background-image: url(images/about-us-card3.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .card4{
            span{
                background-image: url(images/about-us-card4.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        button{
            margin-top: 10px;
            padding: 10px 30px;
            border: 1px solid $color-primary;
            border-radius: 5px;
            color: $color-primary;
            background-color: white;
            font-weight: $font700;
            line-height: 20px;
            &:hover{
                background-color: $color-primary;
                color: white;
            }
        }
    }
}
@media (min-width: 768px){
    .main{
        .services-main{
            .service-content{
                max-width: 345px;
                margin: 10px;

            }
        }
       
    }
}
@media (min-width: 1500px){
    .main{
        .services{
            padding: 100px 0;
        }
        .services-top{
            padding-bottom: 50px;
            h1{
                font-size: $font-45;
                font-weight: $font800;
                line-height: 61.38px;
            }
            p{
                padding: 30px 137px 0;
                font-size: $font-18;
                line-height: 30px;
            }
        }
        .services-main{
            .service-content{
                flex-direction: column;
                width: 330px;
                min-width: 330px;
                max-width: 330px;
                height: 366px;
                margin: 0 15px 0;
                text-align: center;
                background-image: url(images/service-content-BG-large.svg);
                background-position: 75px 8px;
                &:first-child{
                    margin-bottom: 30px;
                    margin-left: 0;
                }
                &:nth-child(2){
                    margin-bottom: 30px;
                }
                &:nth-child(3){
                    margin-bottom: 30px;
                }
                &:nth-child(4){
                    margin-bottom: 30px;
                    margin-right: 0;
                }
                &:nth-child(5){
                    margin-left: 0;
                }
                &:nth-child(8){
                    margin-right: 0;
                }
                a{
                    display: block;
                    width: 70px;
                    height: 70px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 50px;
                   img{
                    display: none;
                    } 
                }
                .cl1{
                    background-image: url(images/service-content-1-largeD.svg);
                }
                .cl2{
                    background-image: url(images/service-content-2-largeD.svg);

                }
                .cl3{
                    background-image: url(images/service-content-3-largeD.svg);

                }
                .cl4{
                    background-image: url(images/service-content-4-largeD.svg);

                }
                .cl5{
                    background-image: url(images/service-content-5-largeD.svg);

                }
                .cl6{
                    background-image: url(images/service-content-6-largeD.svg);

                }
                .cl7{
                    background-image: url(images/service-content-7-largeD.svg);

                }
                .cl8{
                    background-image: url(images/service-content-8-largeD.svg);

                }
                &:hover{
                    background-color: $color-primary;
                    .cl1{
                        background-image: url(images/service-content-1-large.svg);
                    }
                    .cl2{
                        background-image: url(images/service-content-2-large.svg);
    
                    }
                    .cl3{
                        background-image: url(images/service-content-3-large.svg);
    
                    }
                    .cl4{
                        background-image: url(images/service-content-4-large.svg);
    
                    }
                    .cl5{
                        background-image: url(images/service-content-5-large.svg);
    
                    }
                    .cl6{
                        background-image: url(images/service-content-6-large.svg);
    
                    }
                    .cl7{
                        background-image: url(images/service-content-7-large.svg);
    
                    }
                    .cl8{
                        background-image: url(images/service-content-8-large.svg);
    
                    }
                    h2{
                        color: white;
                    }
                    p{
                        color: white;
                    }

                }
            }
            .service-content-text{
                margin: 0;
                
            }
            h2{
                font-size: $font-24;
                font-weight: $font700;
                line-height: 33px;
            }
            p{
                font-size: $font-16;
                line-height: 28px;
                padding: 10px 23px;
            }
        }
        
    }
}
