@mixin flexCenter (){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexAlignCenter (){
    display: flex;
    align-items: center;
}
@mixin flexSpace {
    display: flex;
    justify-content: space-between;
}
@mixin flexSpaceCenter (){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin flexColumnCenter(){
    display: flex;
    flex-direction: column;
    align-items: center;
}