//color
$color-primary: #00730C;
$color-second: #0C4B35;

// color-font
$font-color-primary: #212529;

// font
$Nunito: 'Nunito', sans-serif;

//font-size
$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-18: 18px;
$font-28: 28px;
$font-58: 58px;

//font-weight
$font600: 600;
$font700: 700;
$font800: 800;


