* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.header {
  width: 100%;
  min-width: 335px;
}
.header .header-top {
  background-color: #0C4B35;
  width: 100%;
  height: 55px;
}
.header .header-top .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 15px;
  color: white;
  font-size: 12px;
}
.header .header-top a {
  font-family: "Nunito", sans-serif;
}
.header .header-top .header-sociale {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.header .header-top .header-social-inner {
  display: flex;
  align-items: center;
}
.header .header-top .header-social-content {
  display: none;
}
.header .header-top .header-email {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(images/email.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header-top .header-phone {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(images/phone.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header-top .header-location {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(images/location.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header-top .languages {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 12px;
}
.header .header-top .languages::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 7px;
  height: 4px;
  background-image: url(images/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header-navigation {
  width: 100%;
  height: 70px;
}
.header .header-navigation .header-navigation-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  width: 100%;
}
.header .header-navigation .header-navigation-inner a {
  display: flex;
  align-items: center;
}
.header .header-navigation .header-navigation-inner .navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}
.header .header-navigation .header-navigation-inner .navigation-bar button {
  width: 40px;
  height: 34px;
  border: 1px solid #00730C;
  border-radius: 10px;
  background-image: url(images/CallButton2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header .header-navigation .header-navigation-inner .navigation-bar button:hover {
  background-image: url(images/CallButton.svg);
}
.header .header-navigation .header-navigation-inner .navigation-bar .menu {
  width: 30px;
  height: 30px;
  background-image: url(images/Menu_1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header .header-navigation .header-navigation-inner .navigation-bar .menu:hover {
  background-image: url(images/Menu_2.svg);
  transition: 0.3s;
  cursor: pointer;
}
.header .header-navigation .header-navigation-inner .navigation-bar .menu:active {
  background-image: url(images/Menu_cancel.svg);
  transition: 0.3s;
  cursor: pointer;
}
.header .header-navigation .header-navigation-inner .navigation-bar .menu-large {
  display: none;
}
.header .header-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}
.header .header-photo a img {
  width: 100%;
}
.header .header-footer {
  height: 420px;
  position: relative;
  padding: 47.63px 14.5px 35px;
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}
.header .header-footer::after {
  content: "";
  display: block;
  position: absolute;
  top: 285px;
  left: -2px;
  width: 83px;
  height: 118px;
  background-image: url(images/header-flower.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header-footer ul {
  font-family: "Nunito", sans-serif;
}
.header .header-footer ul li {
  color: #212529;
}
.header .header-footer ul li:first-child {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}
.header .header-footer ul li:first-child::before {
  content: "";
  display: block;
  width: 23.8px;
  height: 19.89px;
  background-image: url(images/li-first.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header-footer ul li:nth-child(2) {
  padding: 10px 0;
  font-size: 28px;
  font-weight: 700;
}
.header .header-footer ul li:nth-child(2) span {
  color: #00730C;
}
.header .header-footer ul li:nth-child(3) {
  padding: 5px 0 40px 0;
  font-size: 14px;
}
.header .header-footer ul li:nth-child(3) img {
  display: none;
}
.header .header-footer ul li:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.header .header-footer ul li:nth-child(4) button {
  padding: 12px 105px;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #00730C;
  border: 1px solid #00730C;
  background-color: white;
}
.header .header-footer ul li:nth-child(4) button:hover {
  color: white;
  border: 1px solid #00730C;
  background-color: #00730C;
  cursor: pointer;
}
.header .header-footer ul li:nth-child(4) a {
  display: none;
}
.header .header-footer ul li:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 41.32px;
  font-size: 14px;
  font-weight: 600;
  color: #00730C;
}
.header .header-footer ul li:nth-child(5)::after {
  content: "";
  display: block;
  width: 16px;
  height: 12.65px;
  margin-left: 12px;
  background-image: url(images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header-footer ul li:nth-child(6) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
}
.header .header-footer ul li:nth-child(6) a {
  display: block;
  padding: 9px 10px;
  border-radius: 32px;
  background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
  text-decoration: none;
  color: #212529;
}
.header .header-footer ul li:nth-child(6) a:nth-child(2) {
  margin-left: 12px;
}
.header .header-footer ul li:nth-child(6) a:nth-child(3) {
  display: none;
}
.header .header-footer ul li:nth-child(6) a span {
  font-size: 12px;
  font-weight: 700;
}
.header .header-footer .header-footer-img {
  display: none;
}

@media (min-width: 768px) {
  .header .header-top .header-sociale {
    width: auto;
  }
  .header .header-top .header-social-content {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 10px;
  }
  .header .header-navigation {
    height: 85px;
  }
  .header .header-navigation .header-navigation-inner a img {
    width: 120px;
    height: 55px;
  }
  .header .header-navigation .header-navigation-inner .navigation-bar {
    width: 250px;
  }
  .header .header-navigation .header-navigation-inner .navigation-bar button {
    width: 170px;
    height: 50px;
    background-image: url(images/CallButton-large.svg);
  }
  .header .header-navigation .header-navigation-inner .navigation-bar button:hover {
    background-image: url(images/CallButton-large2.svg);
    background-color: #00730C;
  }
  .header .header-photo {
    display: none;
  }
  .header .header-footer {
    height: auto;
  }
  .header .header-footer::after {
    top: 440px;
    width: 197px;
    height: 278px;
  }
  .header .header-footer ul li:nth-child(1) {
    font-size: 16px;
  }
  .header .header-footer ul li:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }
  .header .header-footer ul li:nth-child(3) img {
    display: block;
    width: 563px;
    height: 360px;
  }
  .header .header-footer ul li:nth-child(5) {
    font-size: 16px;
  }
  .header .header-footer ul li:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .header .header-footer ul li:nth-child(6) a:nth-child(2) {
    margin: 0 12px;
  }
  .header .header-footer ul li:nth-child(6) a:nth-child(3) {
    display: block;
  }
  .header .header-footer ul li:nth-child(6) a span {
    font-size: 14px;
  }
}
@media (min-width: 1500px) {
  .header .container {
    max-width: 1410px;
    width: 100%;
  }
  .header .header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
  }
  .header .header-top .container {
    max-width: 1420px;
  }
  .header .header-top .header-inner {
    width: 100%;
    padding: 17px 0;
    font-size: 14px;
  }
  .header .header-top .header-inner .languages {
    padding-right: 17px;
  }
  .header .header-top .header-inner .languages::after {
    width: 12px;
    height: 6.84px;
  }
  .header .header-top .header-inner .header-sociale .header-social-inner a:first-child {
    margin: 0 10px;
  }
  .header .header-top .header-inner .header-sociale .header-social-inner .header-social-content {
    padding: 0 20px 0 0;
  }
  .header .header-top .header-inner .header-sociale .header-social-inner .social-img {
    width: 25px;
    height: 25px;
  }
  .header .header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header-navigation .header-navigation-inner {
    padding: 15px 0 15px 10px;
  }
  .header .header-navigation .header-navigation-inner .navigation-bar {
    flex-direction: row-reverse;
    width: 898px;
    height: 50px;
  }
  .header .header-navigation .header-navigation-inner .navigation-bar .menu {
    display: none;
  }
  .header .header-navigation .header-navigation-inner .navigation-bar .menu-large {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
  .header .header-navigation .header-navigation-inner .navigation-bar .menu-large .sub-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    right: 6px;
    width: 12px;
    height: 6.85px;
    background-image: url(images/arrow-down-menu-large.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header .header-navigation .header-navigation-inner .navigation-bar .menu-large li {
    position: relative;
    padding: 10px 28px;
    color: #212529;
  }
  .header .header-navigation .header-navigation-inner .navigation-bar .menu-large li:hover {
    cursor: pointer;
    color: #00730C;
  }
  .header .header-navigation .header-navigation-inner .navigation-bar .menu-large li:hover::after {
    background-image: url(images/arrow-down-menu-large2.svg);
  }
  .header .header-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 715px;
  }
  .header .header-footer ul {
    width: 814px;
    padding: 0 0 0 258px;
    margin-right: 92.82px;
  }
  .header .header-footer ul li:nth-child(2) {
    padding: 20px 0;
    font-size: 58px;
    font-weight: 800;
  }
  .header .header-footer ul li:nth-child(3) {
    font-size: 18px;
    padding-bottom: 50px;
  }
  .header .header-footer ul li:nth-child(3) img {
    display: none;
  }
  .header .header-footer ul li:nth-child(4) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 58px;
  }
  .header .header-footer ul li:nth-child(4) button {
    min-width: 176px;
    font-size: 18px;
    padding: 13px 35px;
  }
  .header .header-footer ul li:nth-child(4) a {
    display: block;
    position: relative;
    padding: 10px 35px 0 30px;
    text-decoration: none;
    color: #212529;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
  }
  .header .header-footer ul li:nth-child(4) a::after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 20px;
    height: 15.81px;
    background-image: url(images/she-how-it-works.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header .header-footer ul li:nth-child(5) {
    display: none;
  }
  .header .header-footer ul li:nth-child(6) {
    font-size: 16px;
    font-weight: 700;
  }
  .header .header-footer ul li:nth-child(6) a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0;
    background-color: none;
  }
  .header .header-footer ul li:nth-child(6) a:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header-footer ul li:nth-child(6) a span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 15px 7px;
    margin-right: 10px;
    background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
    font-size: 15px;
    border-radius: 50%;
  }
  .header .header-footer .header-footer-img {
    align-self: flex-end;
    display: block;
    margin-top: 46px;
  }
  .header .header-footer .header-footer-img img {
    width: 100%;
  }
}
.main {
  width: 100%;
  min-width: 335px;
}
.main .container {
  max-width: 1410px;
  width: 100%;
}
.main .services {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
}
.main .services-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}
.main .services-top h1 {
  font-size: 28px;
  font-weight: 700;
  color: #212529;
  line-height: 38.5px;
}
.main .services-top h1 span {
  color: #00730C;
}
.main .services-top p {
  padding-top: 15px;
  font-size: 14px;
  color: #676767;
  line-height: 22px;
  text-align: center;
}
.main .services-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main .services-main .service-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 345px;
  max-width: 370px;
  height: 116px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  background-image: url(images/service-content-BG.svg);
  background-repeat: no-repeat;
  background-position: 0 12px;
}
.main .services-main .service-content-text {
  margin-left: 20px;
}
.main .services-main h2 {
  color: #212529;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.main .services-main p {
  color: #676767;
  font-size: 14px;
  line-height: 22px;
}
.main .about-us {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .about-us-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px 50px 15px;
  min-width: 340px;
}
.main .about-us-img {
  min-width: 320px;
  height: 462px;
  position: relative;
  margin-right: 40px;
}
.main .about-us-img div {
  width: 188px;
  height: 293px;
  background-color: #00730C;
}
.main .about-us-img a {
  position: absolute;
}
.main .about-us-img a:nth-child(2) {
  top: 12px;
  left: 12px;
  z-index: 1;
}
.main .about-us-img a:nth-child(3) {
  top: 300px;
  left: 113px;
  z-index: 1;
  border-radius: 5px;
}
.main .about-us-content {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 378px;
}
.main .about-us-content h2 {
  text-align: center;
  padding-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
  color: #212529;
  line-height: 38px;
}
.main .about-us-content h2 span {
  color: #00730C;
}
.main .about-us-content p {
  line-height: 22px;
  font-size: 14px;
  color: #676767;
}
.main .about-us-content .about-us-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  min-width: 330px;
  max-width: 344px;
}
.main .about-us-content .about-us-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 162px;
  height: 94px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #212529;
  padding: 15px;
  margin-bottom: 20px;
}
.main .about-us-content .about-us-card span {
  display: block;
  width: 55px;
  height: 45px;
}
.main .about-us-content .card1 span {
  background-image: url(images/about-us-card1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main .about-us-content .card2 span {
  width: 64px;
  background-image: url(images/about-us-card2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main .about-us-content .card3 span {
  background-image: url(images/about-us-card3.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main .about-us-content .card4 span {
  background-image: url(images/about-us-card4.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main .about-us-content button {
  margin-top: 10px;
  padding: 10px 30px;
  border: 1px solid #00730C;
  border-radius: 5px;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #00730C;
  font-weight: 700;
  line-height: 20px;
}
.main .about-us-content button:hover {
  background-color: #00730C;
  color: white;
}
.main .why-choose-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C4B35;
  padding: 50px 15px;
  min-width: 345px;
  color: white;
}
.main .why-choose-us-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main .why-choose-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  max-width: 512px;
}
.main .why-choose-us-content h2 {
  padding-bottom: 15px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}
.main .why-choose-us-content p {
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 40px;
}
.main .why-choose-us-content .take-care {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 22px;
  padding-bottom: 20px;
}
.main .why-choose-us-content .take-care span {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url(images/take-care-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
}
.main .why-choose-us-content .take-care .take-care-inner {
  display: flex;
  width: 158px;
}
.main .why-choose-us-content .take-care .take-care-inner:first-child {
  margin-right: 29px;
}
.main .why-choose-us-content button {
  margin-top: 10px;
  padding: 10px 30px;
  border: 1px solid #00730C;
  border-radius: 5px;
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #00730C;
  font-weight: 700;
  line-height: 20px;
}
.main .why-choose-us-content button:hover {
  background-color: #00730C;
  color: white;
}

@media (min-width: 768px) {
  .main .services-main .service-content {
    max-width: 345px;
    margin: 10px;
  }
}
@media (min-width: 1500px) {
  .main .services {
    padding: 100px 0;
  }
  .main .services-top {
    padding-bottom: 50px;
  }
  .main .services-top h1 {
    font-size: 45px;
    font-weight: 800;
    line-height: 61.38px;
  }
  .main .services-top p {
    padding: 30px 137px 0;
    font-size: 18px;
    line-height: 30px;
  }
  .main .services-main .service-content {
    flex-direction: column;
    width: 330px;
    min-width: 330px;
    max-width: 330px;
    height: 366px;
    margin: 0 15px 0;
    text-align: center;
    background-image: url(images/service-content-BG-large.svg);
    background-position: 75px 8px;
  }
  .main .services-main .service-content:first-child {
    margin-bottom: 30px;
    margin-left: 0;
  }
  .main .services-main .service-content:nth-child(2) {
    margin-bottom: 30px;
  }
  .main .services-main .service-content:nth-child(3) {
    margin-bottom: 30px;
  }
  .main .services-main .service-content:nth-child(4) {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .main .services-main .service-content:nth-child(5) {
    margin-left: 0;
  }
  .main .services-main .service-content:nth-child(8) {
    margin-right: 0;
  }
  .main .services-main .service-content a {
    display: block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }
  .main .services-main .service-content a img {
    display: none;
  }
  .main .services-main .service-content .cl1 {
    background-image: url(images/service-content-1-largeD.svg);
  }
  .main .services-main .service-content .cl2 {
    background-image: url(images/service-content-2-largeD.svg);
  }
  .main .services-main .service-content .cl3 {
    background-image: url(images/service-content-3-largeD.svg);
  }
  .main .services-main .service-content .cl4 {
    background-image: url(images/service-content-4-largeD.svg);
  }
  .main .services-main .service-content .cl5 {
    background-image: url(images/service-content-5-largeD.svg);
  }
  .main .services-main .service-content .cl6 {
    background-image: url(images/service-content-6-largeD.svg);
  }
  .main .services-main .service-content .cl7 {
    background-image: url(images/service-content-7-largeD.svg);
  }
  .main .services-main .service-content .cl8 {
    background-image: url(images/service-content-8-largeD.svg);
  }
  .main .services-main .service-content:hover {
    background-color: #00730C;
  }
  .main .services-main .service-content:hover .cl1 {
    background-image: url(images/service-content-1-large.svg);
  }
  .main .services-main .service-content:hover .cl2 {
    background-image: url(images/service-content-2-large.svg);
  }
  .main .services-main .service-content:hover .cl3 {
    background-image: url(images/service-content-3-large.svg);
  }
  .main .services-main .service-content:hover .cl4 {
    background-image: url(images/service-content-4-large.svg);
  }
  .main .services-main .service-content:hover .cl5 {
    background-image: url(images/service-content-5-large.svg);
  }
  .main .services-main .service-content:hover .cl6 {
    background-image: url(images/service-content-6-large.svg);
  }
  .main .services-main .service-content:hover .cl7 {
    background-image: url(images/service-content-7-large.svg);
  }
  .main .services-main .service-content:hover .cl8 {
    background-image: url(images/service-content-8-large.svg);
  }
  .main .services-main .service-content:hover h2 {
    color: white;
  }
  .main .services-main .service-content:hover p {
    color: white;
  }
  .main .services-main .service-content-text {
    margin: 0;
  }
  .main .services-main h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
  }
  .main .services-main p {
    font-size: 16px;
    line-height: 28px;
    padding: 10px 23px;
  }
  .main .about-us {
    height: 1050px;
    padding-bottom: 100px;
  }
  .main .about-us-inner {
    justify-content: space-between;
    padding: 0;
  }
  .main .about-us-img {
    height: 903px;
  }
  .main .about-us-img div {
    width: 450px;
    height: 706px;
  }
  .main .about-us-img a:nth-child(2) {
    top: 36px;
    left: 24px;
  }
  .main .about-us-img a:nth-child(2) img {
    width: 601px;
    height: 731px;
  }
  .main .about-us-img a:nth-child(3) {
    top: 600px;
    left: 226px;
    z-index: 1;
    border-radius: 5px;
  }
  .main .about-us-img a:nth-child(3) img {
    width: 456px;
    height: 356px;
  }
  .main .about-us-content {
    max-width: 690px;
    padding-top: 0;
  }
  .main .about-us-content h2 {
    text-align: start;
    padding-bottom: 30px;
    font-size: 45px;
    font-weight: 800;
    color: #212529;
    line-height: 61px;
  }
  .main .about-us-content h2 span {
    color: #00730C;
  }
  .main .about-us-content p {
    line-height: 28px;
    font-size: 16px;
    padding-right: 19px;
  }
  .main .about-us-content .about-us-cards {
    padding-top: 50px;
    min-width: auto;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .main .about-us-content .about-us-card {
    justify-content: start;
    width: 330px;
    height: 97px;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding-left: 30px;
    margin-bottom: 30px;
  }
  .main .about-us-content .about-us-card span {
    width: 67px;
    height: 67px;
    margin-right: 30px;
  }
  .main .about-us-content .card1 span {
    background-image: url(images/about-us-card1-large.svg);
  }
  .main .about-us-content .card2 span {
    background-image: url(images/about-us-card2-large.svg);
  }
  .main .about-us-content .card3 span {
    background-image: url(images/about-us-card3-large.svg);
  }
  .main .about-us-content .card4 span {
    background-image: url(images/about-us-card4-large.svg);
  }
  .main .about-us-content button {
    align-self: flex-start;
    margin-top: 20px;
    padding: 13px 35px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  .main .about-us-content button:hover {
    background-color: #00730C;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */